.wrapper {
	color: var(--font-color-primary);
	letter-spacing: 0.5px;
	line-height: 1.7;
	font-size: 1.1rem;
	margin: auto;
	max-width: 50rem;
}

.title {
	font-weight: 500;
	line-height: 1.1;
	font-size: 2.5rem;
	margin-top: 5rem !important;
	margin-bottom: 0rem !important;
}

.date {
	color: var(--font-color-secondary);
	font-size: 1.2rem;
	margin-top: 0.5rem !important;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
	font-weight: 500;
	margin: 1rem 0;
}

.wrapper ul,
.wrapper ol {
	padding-left: 3rem;
}

.wrapper li {
	margin: 0.5rem 0;
}

.wrapper hr {
	margin: 1rem 0;
}

.wrapper p {
	margin: 1.5rem 0;
}

.wrapper code {
	font-family: 'Roboto Mono', monospace;
}

.wrapper pre {
	background-color: var(--color-1);
	color: white;
	padding: 1rem;
	border-radius: 3px;
	overflow-x: auto;
}

.wrapper pre * {
	font-family: 'Roboto Mono', monospace;
}

.wrapper pre div {
	padding: 0 !important;
}

.wrapper blockquote {
	border-left: 5px solid #dadada;
	padding-left: 1rem;
	font-style: italic;
	background-color: rgb(238, 238, 238);
}

.wrapper table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper table th {
	font-weight: 500;
	text-align: start;
	padding: 0.5rem;
	border-bottom: 1px solid gray;
}

.wrapper table td {
	padding: 0.5rem;
}

.wrapper table tbody tr {
	border-bottom: 1px solid gray;
}

.wrapper table tbody tr:nth-child(odd) {
	background-color: #e6e6e6;
}

.wrapper img {
	display: block;
	width: 100%;
	padding: 2rem;
}

.wrapper a {
	text-decoration: underline;
}