.header {
	margin: 90px 0;
}

.header > * {
	max-width: 500px;
	font-size: 2.5rem;
	color: var(--text-color1);
	line-height: 1.2em;
	position: relative;
	z-index: 1;
}

.header > *::before {
	position: absolute;
	left: 0;
	top: -10px;
	content: 'BLOG';
	font-size: 15rem;
	z-index: -1;
	color: #EFEFEF;
}

.list {
	margin-bottom: 50px;
}
