.container {
  border-top: 1px solid var(--border-color);
  text-align: center;
  padding: 50px 0;
  font-weight: 500;
  color: var(--text-color-4);
}

.container p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container a {
  color: var(--text-color-1);
  text-decoration: underline;
  font-weight: 600;
  margin-left: 5px;
}

.container hr {
  border: 1px solid var(--border-color);
  width: 300px;
  margin: auto;
}

.container svg {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.socials {
  margin-top: 10px;
}

.socials svg {
  width: 25px;
  height: 25px;
}
