html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F7F7F7;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --accent-color: #6b38db;
  --transition-duration: 200ms;
  --font-color-primary: #333;
  --font-color-secondary: #54616F;
}