@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--page-color);
  scrollbar-color: var(--text-color-1) var(--page-color);
  scroll-behavior: smooth;
	background-color: var(--page-color);
}

body::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
	--trans-dur: 500ms;
	--page-color: #F6F6F6;
	--text-color1: #272727;
	--text-color2: #5B5B5B;
}
