.introduction {
  font-weight:  700;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 150px;
}

.about {
  color: #E0E0E0;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}

.timeline {
  padding-left: 140px;
}

@media screen and (max-width: 600px) {
  .timeline {
    padding-left: 0;
  }
}
