.heroContainer {
	display: flex;
	justify-content: space-between;
	max-width: 58rem;
	margin: auto;
	margin-top: 10rem;
}

.heroImageContainer > div {
	overflow: visible !important;
}

.heroImage {
	box-shadow: 0px 0px 0px 10px #d9c8f1, 0px 0px 0px 20px #e2d6f3;
	overflow: visible;
	border-radius: 50%;
}

.heroDescription {
	max-width: 30rem;
	color: var(--font-color-primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.greeting {
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1rem;
	line-height: 1.2;
	text-transform: uppercase;
	color: var(--font-color-primary);
	color: black;
}

.name {
	text-transform: uppercase;
	margin: 1.5rem 0;
}

.highlight {
	color: var(--accent-color);
}

.smallBio {
	font-size: 1.2rem;
	color: var(--font-color-secondary);
}

.heroButtons {
	margin-top: 3rem;
	display: flex;
	align-items: center;
}

.heroIcons {
	margin-left: 2rem;
	font-size: 1.5rem;
	color: var(--accent-color);
}

.heroIcons > * {
	margin: 0 1rem;
}

.aboutMe {
	line-height: 1.5;
	font-size: 1.2rem;
	color: var(--font-color-secondary);
}