.page {
  background-color: var(--page-color);
  color: var(--text-color-2);
}

.ad {
  background-color: var(--accent-color);
  padding: 10px 0;
  font-weight: 500;
  font-size: .9em;
  color: #ffffff;
}

.ad > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ad button {
  border: none;
  background-color: unset;
}

.ad svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.ad a {
  font-weight: 600;
  text-decoration: underline;
}

.dark-theme {
  --page-color: #181818;
  --accent-color: #2489FF;
  --accent-color-hover: #205BA1;
  --text-color-1: #ffffff;
  --text-color-2: #DBDBDB;
  --text-color-3: #696969;
  --text-color-4: #ADADAD;
  --card-color: #1F1F1F;
  --card-color-2: rgb(40, 40, 40);
  --card-color-3: var(--card-color);
  --border-color: #2A2A2A;
  --box-shadow: none;
}

.light-theme {
  --page-color: #ECECEC;
  --accent-color: #2489FF;
  --accent-color-hover: #205BA1;
  --text-color-1: #181818;
  --text-color-2: #626262;
  --text-color-3: #696969;
  --text-color-4: #626262;
  --card-color: #ffffff;
  --card-color-2: #f1f1f1;
  --card-color-3: #e5e5e5;
  --border-color: #dfdfdf;
  --box-shadow: 0px 6px 9px -2px rgba(179,179,179,1);
}
