.container {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 100%;
  margin: auto;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 50px;
  background: #112;
  display: flex;
  z-index: 10;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .container {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(17, 17, 17, 0.3);

  }
}

.container ul {
  list-style: none;
  display: flex;
  color: white;
  border-radius: 50px;
}

.container ul li {
  margin-right: 10px;
  transition-duration: .1s;
}

.container ul li a {
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: #111;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.container > ul li svg {
  margin-right: 10px;
}

.container ul li:hover a {
  border-color: white;
}

.container button {
  border: none;
  background: #40f59b;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .1s;
  position: relative;
  cursor: pointer;
}

.container button > svg {
  transition-duration: .3s;
}

.container .on > svg {
  transform: rotate(90deg);
}

.container button:hover {
  background-color: #40f59bbf;
}

.container button ul {
  position: absolute;
  top: 60px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 50px;
  flex-direction: column;
  padding: 10px;
  background: rgb(66 66 66 / 11%);
  backdrop-filter: blur(4px);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .container, .container button ul {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(17, 17, 17, 0.3);
  }
}

.show {
  animation: fadeIn .5s;
}

.hide {
  animation: fadeOut .5s;
  opacity: 0;
  pointer-events: none;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(1%); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-1%); }
}


.container button ul li {
  margin-right: 0;
}

.container button ul li a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button ul li {
  margin-bottom: 10px;
}

.container button ul li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .container {
    width: unset;
    top: unset;
    bottom: 20px;
  }
  .container > ul span {
    display: none;
  }
  .container > ul li svg {
    margin-right: 0;
  }

  .container button ul {
    top: unset;
    bottom: 60px;
  }
}


