.container {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(16px);
  background: rgba(17, 17, 17, 0.3);
  display: flex;
  align-items: center;
  z-index: 10;
}

.container > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.container ul {
  display: flex;
  color: white;
  list-style: none;
}

.container ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.container ul li a {
  display: flex;
  align-items: center;
}
