.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.containerFlip {
	flex-direction: row-reverse;
}

.container > div:nth-child(1) {
	overflow: visible !important;
}

.previewContainer {
	border-radius: 3px;
	box-shadow: 0 10px 30px -15px #ccc9c9;
	overflow: visible;
	position: relative;
}

.previewOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--accent-color);
	opacity: 0.4;
	transition-duration: var(--transition-duration);
	border-radius: 2px;
}

.preview {
	border-radius: 3px;
}

.previewOverlay:hover {
	opacity: 0;
}

.pushPreview {
	width:27rem;
}

.projectDetails {
	position: absolute;
	width: 31rem;
	right: 0;
	text-align: end;
}

.containerFlip .projectDetails {
	right:unset;
	left: 0;
	text-align: start;
}

.projectName {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--font-color-primary);
}

.projectInfoContainer {
	box-shadow: 0 10px 30px -15px grey;
	margin: 1.5rem 0;
	font-size: 1rem;
	color: white;
	padding: 1.5rem;
	border-radius: 2px;
	background-color: var(--accent-color);
}

.projectLinks {
	margin-top: 1.5rem;
	display: flex;
	font-size: 1.5rem;
	justify-content: flex-end;
}

.projectLinks > * {
	margin-left: 1rem;
}

.projectLinks > *:hover {
	color: var(--accent-color);
	transition-duration: var(--transition-duration);
}

.projectLinksFlip {
	justify-content: flex-start;
}

.projectLinksFlip > * {
	margin-right: 1rem;
	margin-left: 0;
}

.stack {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.stackFlip {
	justify-content: flex-start;
}

.stack > * {
	margin-left: 1rem;
	
}

.stackFlip > * {
	margin-right: 1rem;
	margin-left: 0;
}

/* Compact styling */

.containerCompact {
	display: inline-block;
	max-width: 27rem;
	background-color: var(--accent-color);
}

@media screen and (max-width: 1200px) {
	.containerCompact {
		max-width: 25rem;
	}
}

@media screen and (max-width: 1130px) {
	.containerCompact {
		max-width: 20rem;
	}
}

@media screen and (max-width: 970px) {
	.containerCompact {
		max-width: 100%;
	}
}

.previewContainerCompact {
	position: fixed;
	display: none;
	width: 400px;
	height: 230px;
	border: 2px solid black;
	z-index: 2;
}

.containerCompact:hover .previewContainerCompact {
	display: block;
	position: fixed;
	overflow: hidden;
}

.previewContainerCompact > div {
	width: 100%;
	height: 100%;
}

.previewOverlayCompact {
	opacity: 0.9;
	background-color: unset;
}

.projectDetailsCompact {
	position: relative;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: start;
	color: white;
	padding: 1rem;
	padding-bottom: 5rem !important;
}

.projectNameCompact {
	color: white;
}

.pushPreviewCompact {
	display: none;
}

.stackCompact {
	justify-content: flex-start;
}

.stackCompact > * {
	margin-right: 1rem;
	margin-left: 0;
}

.projectInfoContainerCompact {
	padding: 0;
	background-color: unset;
}

.projectLinksCompact {
	position: absolute;
	justify-content: flex-start;
	bottom: 1rem;
}

@media screen and (max-width: 870px) {
	.previewContainer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}

	.previewOverlay {
		opacity: 0.9;
	}

	.projectDetails {
		position: relative;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		text-align: start;
		color: white;
		padding: 1rem;
	}

	.projectName {
		color: white;
	}

	.previewContainer > div {
		height: 100%;
		width: 100%;
	}

	.pushPreview {
		display: none;
	}

	.projectInfoContainer {
		padding: 0;
		background-color: unset;
	}

	.projectLinks {
		justify-content: flex-start;
	}

}