.container {
	margin-top: 5rem;
}

.titleContainer {
	display: flex;
	align-items: center;
}

.title {
	font-size: 2rem;
	letter-spacing: 1px;
	font-weight: 400;
	color: var(--font-color-primary);
}

.subtitle {
	margin-top: 1rem;
	font-size: 1.1rem;
	color: var(--font-color-secondary);
}

.childrenContainer {
	margin-top: 2rem;
}