.switch {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  width: var(--size);
  height: var(--size);
}

.container {
  cursor: pointer;
  --size: 25px;
  position: relative;
  width: var(--size);
  height: var(--size);
}

.container svg {
  fill: var(--text-color-1);
}


.container label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
